@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    background-color: #37517E;
    font-family: "Poppins", serif;
}

.logo{
    color: white;
    font-size: 30px;
}

.menu li a{
    color: white;
    padding: 18px 15px;
    font-size: 15px;
    text-decoration: none;
}

.menu-btn{
    color: white;
    font-size: 25px;
}

.menu-btn:hover{
    color: white;
}

.menu-1{
    color: black;
    text-decoration: none;
    transition: all 0.3s linear;
    display: inline-block;
}

.menu-1:hover{
    color: #37517E;
}

.faqs{
    margin-top: 100px;
}

.ques{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #37517E;
}

.blog{
    margin-top: 100px;
    margin-bottom: 100px;
}

.team{
    margin-bottom: 40px;
}